.column{
  width: 100%;
}
.drrag{
  width: 100%;
}

.left-column{
  width: 20%;
  height: 50%;

  padding: 10px;
  margin-top: 20px;
  overflow-y: scroll;
  float: left;
  margin-left: 50px;
  border-bottom: 2px;
  border-radius: 4px;
  background-color: #eed; 
  border-radius: 3px;
  box-shadow: 43x 3px 2px #333;
  opacity: 1;

}

.right-column{
  width: 20%;
  height: 50%;
  background-color: rgb(174, 179, 165);
  padding: 10px;
  margin-top: 20px;
  margin-right: 800px;
  overflow-y: scroll;
  float: right;
  border-radius: 4px;
}

.card{
  height:50%;
  color: teal;
  border-color: red;
  border-radius: 7px;
} 

.draggable-col{
  margin-top: 10px;
}

.draggable-col2{
  margin-top : 10px;
}

.column-name{
  color:rgb(161, 106, 106);
  font-size: 1em;
    font-family: 'Droid Sans' sans-serif;
  
  text-decoration: royalblue;
}

.load-less{
  color: teal;
  background-color: rgb(136, 214, 19);
  border-radius: 2cm;
}

.load-more{
  color: teal;
  background-color: rgb(136, 214, 19);
  border-radius: 2cm;
}

.load-less2{
  color: teal;
  background-color: rgb(136, 214, 19);
  border-radius: 2cm;
}

.load-more2{
  color: teal;
  background-color: rgb(136, 214, 19);
  border-radius: 2cm;
}

.load-more{
  border: none;
  margin-right: 2px;
  border-radius: 2px;
  font-size: 1em;
  font-family: 'Droid Sans' sans-serif;
  color: #000;
  background-color: teal;
  transition: 0.2s ease-out;

}

.load-more:hover{
  background-color: turquoise;
  transition: 0.2s ease-out;
  color: #000;
}

.load-less{
  border: none;
  margin: 0px;
  border-radius: 2px;
  font-size: 1em;
  font-family: 'Droid Sans' sans-serif;
  color: #000;
  background-color: teal;
  transition: 0.2s ease-out;

}

.load-less:hover{
  background-color: turquoise;
  transition: 0.2s ease-out;
  color: #000;
}

.load-more2{
  border: none;
  margin-right: 2px;
  border-radius: 2px;
  font-size: 1em;
  font-family: 'Droid Sans' sans-serif;
  color: #000;
  background-color: teal;
  transition: 0.2s ease-out;

}

.load-more2:hover{
  background-color: turquoise;
  transition: 0.2s ease-out;
  color: #000;
}

.load-less2{
  border: none;
  margin: 0px;
  border-radius: 2px;
  font-size: 1em;
  font-family: 'Droid Sans' sans-serif;
  color: #000;
  background-color: teal;
  transition: 0.2s ease-out;

}

.load-less2:hover{
  background-color: turquoise;
  transition: 0.2s ease-out;
  color: #000;
}





